@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Trang chủ";
}



<div class="row">
    <ul>
        @foreach(var c in Model)
            {
                <li>@c.DateTime - @c.Lecturer.Name </li>
            }
    </ul>

</div>


<ul class="course">
    @foreach (var c in Model)
    {
        <li>
            <div class="date">
                <div class="motnh">
                    @c.DateTime.ToString("MM");
                </div>

                <div class="day">
                    @c.DateTime.ToString("dd");
                </div>
            </div>

            <div>
                <div class="details">
                    <span class="lecturer"> 
                        @c.Lecturer.Name
                        <button class="btn btn-default btn-sm js-toggle-follow" data-user-id ="@c.LecturerId">Theo dõi </button>
                    
                    </span>
                    <span class="category"> @c.Category.Name</span>
                    <button data-course-id ="@c.Id" class="btn btn-default btn-sm js-toggle-attendance">Theo dõi</button>
                </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { courseId = button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-deault")
                            .addClass("btn-info")
                            .text("Theo dõi");
                    });

                .fail(function () {
                        alert("Lỗi trang web")
                    });

            });

            $(".js-toggle-follow").click(function (e) {


                var button = $(e.target);
                $.post("/api/follwings", { followerId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Đang theo dõi")
                    })
                    .fail(function () {
                        alert("Lỗi")
                    });
                });

            });




    </script>

}


